#navbar{
    display: flex;
    background-color: coral;
    height: 10%;
}


.headingLink{
    text-decoration: none;
    color: black;
    padding-top: 1.5rem;
    padding-left: 1rem;

}

.headingLink:hover{
    color: rgb(239, 214, 214);

}
#icons{
    margin-top: 2%;
    margin-left: 70%;
}

button:hover{
    border: 1px solid white;
}

a{
    color: rgb(48, 48, 240);
}

a:hover{
    color: red;
}