<div (click)="footer()" class="foot-panel1">
    <ul>
        <p>Home</p>
        <a>CupCakes</a>       
        <a>Party Pack</a>      
        <a>Contact Us</a>
    </ul>
    <ul>
        <p>About us</p>
        <a>Pricing</a>       
        <a>Payment</a>      
    </ul>
    <ul>
        <p>Cake</p>
        <a>Order Details</a>       
        <a>Location</a>      
        <a>Contact Us</a>
    </ul>
    <ul>
        <img src="../../assets/images/facebook.png" alt="facebook_image">
        <img src="../../assets/images/instagram.png" alt="instagram_image">
        <img src="../../assets/images/twitter.png" alt="twitter_image">
    </ul>
</div>
    <div class="foot-panel2">
        © 2022-2023, bakecake.com, All Rights Reserved
    </div>