<div class="container">
    <div class="about-us">
        <img src="../../assets/images/Our-Story.jpeg" alt="Our-Story">
        <h3>Welcome to <Span>Bake-my-cake</Span></h3>
        <p>Welcome to Bake-my-cake, where our passion for baking meets your cravings for delectable delights. Founded with a dream to spread happiness through the magic of freshly baked goods, we have been serving our community with love and dedication since 2016.</p>
        <p>Our journey began in a cozy kitchen, where our founder, [Founder's Name], ignited the ovens and mixed the first batches of dough with a simple belief - that the aroma of fresh bread and the sweetness of pastries could bring joy to anyone's day. Over the years, that belief transformed into a mission, and today, it's our pleasure to share the fruits of that labor of love with you.</p>
        <p>At Bake-my-cake, we take pride in being more than just a bakery. We are the artisans of flavor, the custodians of tradition, and the creators of moments that linger in your memory. Here's what sets us apart:</p>
        <ul>
            <li>Quality Ingredients: We source only the finest ingredients, ensuring that every bite is an explosion of taste.</li>
            <li>Handcrafted with Love: Each of our creations is handcrafted with a generous helping of love, dedication, and expertise.</li>
            <li>Community-Centric: We cherish the relationships we've built with our community and are committed to giving back through various initiatives.</li>
            <li>Innovation and Tradition: We combine time-honored recipes with innovative techniques to offer both classic favorites and exciting new treats.</li>
        </ul>
    </div>
    
</div>
