<div>
    <div class=hero-unit>
            <div class="hero-content">
                <h1>Baked with Love, Served with a Smile <br> Your Bakery Bliss Awaits! </h1>
                <p>At our bakery, every treat is a labor of love, crafted with the finest ingredients to ensure your taste buds dance with joy. Come, savor the warmth of our smiles and the sweetness of our creations.</p> 
                <a routerLink="about-us"><button mat-raised-button color="warn">About Us</button></a>
                <a routerLink="contact-us"><button mat-stroked-button color="accent">Contact Us</button></a> 
            </div>
            <div class="hero-image">
                <img src="../../assets/images/hero-image1.png" alt="hero unit image">
            </div>
        </div>
</div>
