#vendor-form {
    margin:auto;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
}
button{
    margin-top: 20px;
}

button:hover{
    background-color: #c5413e;
}

#vendor-form{
    margin-bottom: 182px;

}