.card-body {
    display: flex;
    justify-content: left;
    gap: 40px 50px;
    flex-wrap: wrap;
    margin-top: 40px;
    padding-bottom: 40px;
    margin-left: 40px;
}
img{
    height: 700px;
    width: 100%;
}
#searchFilter {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}