#searchFilter {
    display: flex;
    align-items: flex-end;
}

.filter{
    padding-left:30%;
}
.card-body {
    display: flex;
    justify-content: left;
    gap: 40px 50px;
    flex-wrap: wrap;
    margin-top: 40px;
    padding-bottom: 40px;
    /* margin-left: 20px; */
}
